@import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Lato", sans-serif;
}

.container {
  margin: 0 20px;
  width: auto;
}

.hero {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    margin-top: 1em;
}

.hero h1 {
    margin-top: 0;
    margin-bottom: 0.3em;
}

.c4 {
    padding: 10px;
    box-sizing: border-box;
}

.c4 h3 {
    margin-top: 0;
}

.c4 a {
    margin-top: 10px;
    display: inline-block;
}

/**************
   D-PAD - O-PAD
**************/
.set {
  overflow: hidden;
  padding: 30px;
  text-align: center;
}
.set .d-pad {
  margin-right: 40px;
}
.set .d-pad,
.set .o-pad {
  display: inline-block;
}
.set.setbg {
  background: #222;
}
.set.setbg2 {
  background: #5f9837;
}
.d-pad {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 48%;
  overflow: hidden;
}
.d-pad:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5%;
  transform: translate(-50%, -50%);
  width: 66.6%;
  height: 66.6%;
  background: #ddd;
}
.d-pad:after {
  content: '';
  position: absolute;
  display: none;
  z-index: 2;
  width: 20%;
  height: 20%;
  top: 50%;
  left: 50%;
  background: #ddd;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s;
  cursor: pointer;
}
.d-pad:hover:after {
  width: 30%;
  height: 30%;
}
.d-pad a {
  display: block;
  position: absolute;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 33.3%;
  height: 43%;
  line-height: 40%;
  color: #fff;
  background: #ddd;
  text-align: center;
}
.d-pad a:hover {
  background: #eee;
}
.d-pad a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 5px;
  border-style: solid;
  transition: all 0.25s;
}
.d-pad a:after {
  content: '';
  position: absolute;
  width: 102%;
  height: 78%;
  background: #fff;
  border-radius: 20%;
}
.d-pad a.left,
.d-pad a.right {
  width: 43%;
  height: 33%;
}
.d-pad a.left:after,
.d-pad a.right:after {
  width: 78%;
  height: 102%;
}
.d-pad a.up {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 17% 17% 50% 50%;
}
.d-pad a.up:hover {
  background: linear-gradient(0deg, #ddd 0%, #eee 50%);
}
.d-pad a.up:after {
  left: 0;
  top: 0;
  transform: translate(-100%, 0);
  border-top-left-radius: 50%;
  pointer-events: none;
}
.d-pad a.up:before {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 0 13px 19px 13px;
  border-color: transparent transparent #aaa transparent;
}
.d-pad a.up:active:before {
  border-bottom-color: #333;
}
.d-pad a.up:hover:before {
  top: 35%;
}
.d-pad a.down {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50% 50% 17% 17%;
}
.d-pad a.down:hover {
  background: linear-gradient(180deg, #ddd 0%, #eee 50%);
}
.d-pad a.down:after {
  right: 0;
  bottom: 0;
  transform: translate(100%, 0);
  border-bottom-right-radius: 50%;
  pointer-events: none;
}
.d-pad a.down:before {
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-width: 19px 13px 0px 13px;
  border-color: #aaa transparent transparent transparent;
}
.d-pad a.down:active:before {
  border-top-color: #333;
}
.d-pad a.down:hover:before {
  bottom: 35%;
}
.d-pad a.left {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  border-radius: 17% 50% 50% 17%;
}
.d-pad a.left:hover {
  background: linear-gradient(-90deg, #ddd 0%, #eee 50%);
}
.d-pad a.left:after {
  left: 0;
  bottom: 0;
  transform: translate(0, 100%);
  border-bottom-left-radius: 50%;
  pointer-events: none;
}
.d-pad a.left:before {
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-width: 13px 19px 13px 0;
  border-color: transparent #aaa transparent transparent;
}
.d-pad a.left:active:before {
  border-right-color: #333;
}
.d-pad a.left:hover:before {
  left: 35%;
}
.d-pad a.right {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  border-radius: 50% 17% 17% 50%;
}
.d-pad a.right:hover {
  background: linear-gradient(90deg, #ddd 0%, #eee 50%);
}
.d-pad a.right:after {
  right: 0;
  top: 0;
  transform: translate(0, -100%);
  border-top-right-radius: 50%;
  pointer-events: none;
}
.d-pad a.right:before {
  right: 40%;
  top: 50%;
  transform: translate(50%, -50%);
  border-width: 13px 0 13px 19px;
  border-color: transparent transparent transparent #aaa;
}
.d-pad a.right:active:before {
  border-left-color: #333;
}
.d-pad a.right:hover:before {
  right: 35%;
}
.d-pad.up a.up:before {
  border-bottom-color: #333;
}
.d-pad.down a.down:before {
  border-top-color: #333;
}
.d-pad.left a.left:before {
  border-right-color: #333;
}
.d-pad.right a.right:before {
  border-left-color: #333;
}
.o-pad {
  position: relative;
  background: #ddd;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.o-pad:after {
  content: '';
  position: absolute;
  z-index: 2;
  width: 20%;
  height: 20%;
  top: 50%;
  left: 50%;
  background: #ddd;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: all 0.25s;
  cursor: pointer;
}
.o-pad:hover:after {
  width: 30%;
  height: 30%;
}
.o-pad a {
  display: block;
  position: absolute;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 50%;
  height: 50%;
  text-align: center;
  transform: rotate(45deg);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.o-pad a:before {
  content: '';
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s;
  cursor: pointer;
  display: none;
}
.o-pad a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 5px;
  border-style: solid;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all 0.25s;
}
.o-pad a.up {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -20%) rotate(45deg);
  border-top-left-radius: 50%;
  z-index: 1;
}
.o-pad a.up:hover {
  background: linear-gradient(315deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.4) 100%);
}
.o-pad a.up:before {
  left: 57%;
  top: 57%;
}
.o-pad a.up:after {
  left: 53%;
  top: 53%;
  border-width: 0 13px 19px 13px;
  border-color: transparent transparent #aaa transparent;
}
.o-pad a.up:active:after {
  border-bottom-color: #333;
}
.o-pad a.down {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%) rotate(45deg);
  border-bottom-right-radius: 50%;
  z-index: 1;
}
.o-pad a.down:hover {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.4) 100%);
}
.o-pad a.down:before {
  left: 43%;
  top: 43%;
}
.o-pad a.down:after {
  left: 47%;
  top: 47%;
  border-width: 19px 13px 0px 13px;
  border-color: #aaa transparent transparent transparent;
}
.o-pad a.down:active:after {
  border-top-color: #333;
}
.o-pad a.left {
  top: 50%;
  right: 50%;
  transform: translate(-20%, -50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  border: none;
}
.o-pad a.left:hover {
  background: linear-gradient(225deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.4) 100%);
}
.o-pad a.left:before {
  left: 57%;
  top: 43%;
}
.o-pad a.left:after {
  left: 53%;
  top: 47%;
  border-width: 13px 19px 13px 0;
  border-color: transparent #aaa transparent transparent;
}
.o-pad a.left:active:after {
  border-right-color: #333;
}
.o-pad a.right {
  top: 50%;
  left: 50%;
  transform: translate(20%, -50%) rotate(45deg);
  border-top-right-radius: 50%;
  border: none;
}
.o-pad a.right:hover {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.4) 100%);
}
.o-pad a.right:before {
  left: 43%;
  top: 57%;
}
.o-pad a.right:after {
  left: 47%;
  top: 53%;
  border-width: 13px 0 13px 19px;
  border-color: transparent transparent transparent #aaa;
}
.o-pad a.right:active:after {
  border-left-color: #333;
}
.o-pad a:hover:after {
  left: 50%;
  top: 50%;
}
.d-pad.up a.up:before {
  border-bottom-color: #333;
}
.d-pad.down a.down:before {
  border-top-color: #333;
}
.d-pad.left a.left:before {
  border-right-color: #333;
}
.d-pad.right a.right:before {
  border-left-color: #333;
}
.o-pad.up a.up:after {
  border-bottom-color: #333;
}
.o-pad.down a.down:after {
  border-top-color: #333;
}
.o-pad.left a.left:after {
  border-right-color: #333;
}
.o-pad.right a.right:after {
  border-left-color: #333;
}
